.contenedorlogreg{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: 
   "cabecera cabecera cabecera"
   "logreg logreg logreg"
   "footer footer footer";
   grid-gap: 10px;
}
label{
    text-align: start;
}
h1, p{
    text-align:center;
}
.logreg{
    grid-area: logreg;
    display: flex;
    width: 100%;
    margin-top: 40px;
    justify-content: center;
}
.login{
    width: 100%;
    padding: 20px;
    grid-area: login;
}
.register{
    width: 100%;
    padding: 20px;
    grid-area: register;
}
.intexto{
    width: 80%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: block;
    /*background: lightgray;*/
    animation-name: animtexto;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    -webkit-animation-name: animtexto;
    -webkit-animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: animtexto;
    -moz-animation-duration: 8s;
    -moz-animation-iteration-count: infinite;
    -o-animation-name: animtexto;
    -o-animation-duration: 8s;
    -o-animation-iteration-count: infinite;
}
@keyframes animtexto{
    0%{background-color: lightgray;}
    25%{background-color: lightgreen;}
    50%{background-color: lightsalmon;}
    75%{background-color: lightcoral;}
    100%{background-color: lightgray;}
}
@-webkit-keyframes animtexto{
    0%{background-color: lightgray;}
    25%{background-color: lightgreen;}
    50%{background-color: lightsalmon;}
    75%{background-color: lightcoral;}
    100%{background-color: lightgray;}
}
@-moz-keyframes animtexto{
    0%{background-color: lightgray;}
    25%{background-color: lightgreen;}
    50%{background-color: lightsalmon;}
    75%{background-color: lightcoral;}
    100%{background-color: lightgray;}
}
@-o-keyframes animtexto{
    0%{background-color: lightgray;}
    25%{background-color: lightgreen;}
    50%{background-color: lightsalmon;}
    75%{background-color: lightcoral;}
    100%{background-color: lightgray;}
}
.botonlogreg {
    background-color: black;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    width: 20%;
    opacity: 0.9;
    text-align: center;
}

.cabecera{
    grid-area: cabecera;
    justify-self: center;
    background: linear-gradient(to left, #33ccff 73%, #ff99cc 100%);
    width: 100%;
    height: 120%;
    display: flex;
    text-align:center;
    align-items: center;
    border: #ff99cc 3px solid;
}
.idioma{
    grid-area: idioma;
    flex: 1;
    padding: 10px;
}
.imglogo{
     width: 60%;
     height: 100%;
     animation-name: animlogo;
     animation-duration: 2s;
     animation-iteration-count: infinite;
     -webkit-animation-name: animlogo;
     -webkit-animation-duration: 2s;
     -webkit-animation-iteration-count: infinite;
     -moz-animation-name: animlogo;
     -moz-animation-duration: 2s;
     -moz-animation-iteration-count: infinite;
     -o-animation-name: animlogo;
     -o-animation-duration: 2s;
     -o-animation-iteration-count: infinite;
     object-fit: cover;
}
@-webkit-keyframes animlogo{
     0%{transform: rotate(-10deg);}
     25%{transform: rotate(10deg);}
     50%{transform: rotate(-10deg);}
     75%{transform: rotate(10deg);}
     100%{transform: rotate(-10deg);}
}
@-moz-keyframes animlogo{
     0%{transform: rotate(-10deg);}
     25%{transform: rotate(10deg);}
     50%{transform: rotate(-10deg);}
     75%{transform: rotate(10deg);}
     100%{transform: rotate(-10deg);}
}
@-o-keyframes animlogo{
     0%{transform: rotate(-10deg);}
     25%{transform: rotate(10deg);}
     50%{transform: rotate(-10deg);}
     75%{transform: rotate(10deg);}
     100%{transform: rotate(-10deg);}
}
@keyframes animlogo{
     0%{transform: rotate(-10deg);}
     25%{transform: rotate(10deg);}
     50%{transform: rotate(-10deg);}
     75%{transform: rotate(10deg);}
     100%{transform: rotate(-10deg);}
}
.logo{
    grid-area: logo;
    flex: 1;
    padding: 10px;
}
.navegador{
    grid-area: nav;
    flex: 1;
    padding: 10px;
}
#areabusq{
    width: 300px;
}
body{
    margin: 0px;
    font-family: 'Oxygen', sans-serif;
    background-image: url('fondo.jpg');
}
.logintext{
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    -o-transform: rotateZ(10deg);
    -ms-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
}
.registertext{
    -webkit-transform: rotateZ(-10deg);
    -moz-transform: rotateZ(-10deg);
    -o-transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
}
.footer{
    grid-area: footer;
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: center;
}
.contacto{
    justify-self: center;
    float: right;
    flex: 1;
    padding: 10px;
    text-align:center;
    align-items: center;
}
.redes{
    justify-self: center;
    float: left;
    flex: 1;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
body{
    margin: 0px;
    font-family: 'Oxygen', sans-serif;
}
.contacto{
    border-top: 1px gray solid;
    border-right: 1px gray solid;
    object-fit: cover;
}
#checkbox{
    transform: scale(1.5);
}
a:link{
    text-decoration: none;
    color: red;
    transition: 0.5s;
}
a:visited{
    color:purple;
}
a:active {
    color: blue;
}
a:hover{
    font-size: 20px;
}
@media (max-width: 800px) {
    .logreg{
        display:block;
    }
    .cabecera{
        display:block;
   }
   .footer{
        display:block;
        justify-content: center;
   }
    .botonlogreg{
       width: 50%; 
    }
    #areabusq{
        width: 50%;
   }
   .logo{
        width: 60%;
    }
    .register{
        width: 60%;
    }
    .login{
        width: 60%;
    }
}